button {
    width: 240px;
    height: 55px;
    line-height: 50px;
    color: $color-White;
    font-size: 18px;
    background-color: $color-Chilean-Fire;
    border-radius: 25px;
    border:  0px $color-Chilean-Fire;
}

button > a {
    color: $color-White;
    font-family: 'OpenSans-Regular';
}