$color-Black: #000000;
$color-White: #FFFFFF;
$color-Chilean-Fire: #F47202;
$color-Cerulean: #009BDE;
$color-Scorpion: #595959;
$color-Endeavour: #0568AE;
$color-Allports: #0469AE;
$color-Alto: #D2D2D2;
$color-Scorpion-2: #5A5A5A;