.footer {
    
    background-color: $color-Black;
    color: $color-White;

    &  p {
        font-size: 10px;
    }

    &__nav-items {
        color: $color-Cerulean;
        font-size: 12px;
        font-family: 'OpenSans-Regular';
        line-height: 20px;
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        text-decoration: underline;
    }

    &__t-and-cs {
        
    }

    &__d-star-logo {
        
    }

}//footer