.footer {
    
    background-color: $color-Black;
    color: $color-White;

    &  p {
        font-size: 10px;
    }

    &__nav-items {

    }

    &__t-and-cs {
        
    }

    &__d-star-logo {
        
    }

}//footer