.hero-3 {

    background-image: url( '/img/king-arthur.jpg' );
    background-size: 1221px;
    background-color: $color-Black;    
    background-repeat: no-repeat;
    // background-position: center right;
    background-position: calc(100%) calc(100%);
    color: $color-White;
    height: 390px;
    margin-bottom: 83px;
    position: relative;

    &__heading {
        color: $color-White;
        margin-top: 72px;
        margin-bottom: 20px;
        font-family: 'OpenSans-Light';
        font-size: 45px;
        line-height: 45px;
        width: 380px;
    }

    &__sales-agents {
        font-family: 'OpenSans-Regular';
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 15px;
    }

    &__call-to-action,
    &__phone-number--1 {
        display: inline-block;
        color: $color-Cerulean;
        font-size: 20px;
        line-height: 22px;
        font-family: 'OpenSans-Regular';
        letter-spacing: .28px;
        margin-bottom: 33px;
    }

    &__phone-number--1 { 
        margin-left: 4px;
    }

    &__existing-customer {
        display: inline-block;
        color: $color-White;
        font-size: 14px;
        line-height: 20px;
        font-family: 'OpenSans-Regular';
        letter-spacing: .25px;
        margin-bottom: 33px;
    }

    &__movie-subtext--parent {
        
    }

    &__movie-subtext {
        margin-top: 20px; 
        font-size: 11px;
        line-height: 15px;
        font-family: 'OpenSans-Regular';
        color: $color-White;
        margin-bottom: 24px;
        // margin-right: 153px;
        width: calc(100% + 153px) calc(100% - 153px);
    }

}//hero-3

