.included {

    // & > .row {
    //     width: 1100px;
    //     margin: 0 auto;
    // }

    // & > .columns {
    //     width: 300px;
    // }

    &__heading {
        font-family: 'OpenSans-Light';
        font-size: 45px;
        line-height: 45px;
        color: $color-Black;
        margin-top: 81px;
        margin-bottom: 50px;
    }

    & hr {
        color: $color-Alto;
        margin-top: 14px;
    }

    &__announcement {
        color: $color-Cerulean;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 32px;
    }

    &__bullet-points {

    }

    &__check {
        height: 37px;
        width: 37px;
        background-color: $color-Cerulean;
        color: $color-White;
        border-radius: 100%;
        padding: 3px;
        font-size: 32px;
        display: inline-block;
        margin-right: -20px;
        margin-bottom: 55px;
    }
    
    &__genie-upgrade--section {
        margin-left: 40px;
    }

    &__fees--section,
    &__installation--section {
        margin-left: -80px;
    } 

    &__genie-upgrade, 
    &__fees,
    &__installation {
        display: inline-block;
        font-size: 18px;
        color: $color-Scorpion-2;
        margin-bottom: 40px;
        line-height: 26px;  
    }

    &__genie-upgrade {
        margin-bottom: 40px;
        width: 120px;
    } 

    &__fees,
    &__installation {
        width: 200px;
        margin-bottom: 40px;
    } 

    &__border-color-yellow {
        border-bottom: 12px solid $color-Selective-Yellow;
    }

    &__border-color-green {
        border-bottom: 12px solid $color-Persian-Green;
    }

    &__border-color-blue {
        border-bottom: 12px solid $color-Shakespeare;
    } 

    // &__fees {
    //     margin-right: 40px;
    // }

}//included